{% extends "base.html" %}

{% block titulo %}
    Portal locadora - Carros - Detalhes
{% endblock %}

{% block conteudo %}
    <div class="mycard">
        <h1>Carro</h1>
        <p><em>Modelo:</em> {{ carro.modelo}} </p>
        <p><em>Marca:</em> {{ carro.marca}} </p>
        <p><em>Ano:</em> {{ carro.ano}} </p>
        <p><em>Cor:</em> {{ carro.cor}} </p>
        <p><em>Portas:</em> {{ carro.portas}} </p>
        <p><em>Preço da diária:</em> {{ carro.diaria}} </p>
        <p><em>Placa:</em> {{ carro.placa}} </p>        
    </div>

    <p><center>Volte para <a href="/carros">Carros</a></center></p>
{% endblock %}